@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap");
.header {
  margin: 0 auto;
  width: 1920px;
  height: 100px;
  border-bottom: 1px solid #A1A1A150;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header__ul {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 583px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__li {
  list-style-type: none;
}
.header__li a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #741d1d;
}
.header__li a:hover {
  color: red;
}